@font-face {
  font-family: 'Ubuntu';
  src:
    url('../fonts/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/Ubuntu-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}