.btn
  padding: 11px 41px
  border: none
  border-radius: 30px
  font-size: 0.85rem
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    transition: box-shadow 0.3s
  &:hover
    box-shadow: none
  &:active, &:focus 
    outline: none