.hero /*центральный блок*/
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  color: $black
  &__content
    position: relative
    max-width: 40.25rem
    margin-top: 20.25rem
  &__text
    max-width: 36.187rem
    font-size: 1.25rem
    font-weight: 300
    line-height: 1.812rem
    margin-bottom: 1.5rem
    margin-top: 15px
  &__btn
    margin-top: 0.6rem
    margin-right: 19px
    padding: 1rem 2.5rem

  &__social
    position: absolute
    left: 0
    top: 0
    width: 80px
    height: 100%
.title
  font-family: 'Ubuntu'
  font-size: 3.85rem
  font-weight: 700
  line-height: 4.75rem
  letter-spacing: -1px
  &--primary
    color: $primary
.social
  display: flex
  justify-content: center
  align-items: center
  &__link
    position: absolute
    margin-top: 26.6rem
    margin-left: 1.775rem
    display: grid
    cursor: pointer
    img
      padding-top: 1.8rem
    


  &::before /* элемент сбоку инстаграмма */
    content: ""
    width: 4px
    height: 38.75rem
    border-radius: 2px
    background-color: $primary
    margin-left: 3.7rem
    margin-top: 4rem
