.hero /*центральный блок*/
  position: relative
  display: flex
  color: $black
  padding-bottom: 16rem
  &__content
    max-width: 40.25rem
    margin-top: 19.8rem
  &__text
    max-width: 36.187rem
    font-size: 1.25rem
    font-weight: 300
    line-height: 1.812rem
    margin-bottom: 1.5rem
  &__btn
    margin-top: 0.94rem
    margin-left: 0.4rem
    padding: 1rem 2.5rem

  &__social
    position: absolute
    left: 0
    top: 0
    width: 80px
    height: 100%
.title
  position: relative
  font-family: 'Ubuntu'
  font-size: 3.85rem
  font-weight: 700
  line-height: 4.75rem
  letter-spacing: -1px
  &--primary
    color: $primary
.social
  display: flex
  justify-content: center
  align-items: center
  &__link
    position: absolute
    margin-top: 19rem
    margin-left: 1.975rem
    display: grid
    cursor: pointer
    img
      padding-top: 1.8rem

  &::before /* элемент сбоку инстаграмма */
    content: ""
    width: 4px
    height: 38.75rem
    border-radius: 2px
    background-color: $primary
    margin-left: 4.3rem
    margin-top: -11.5rem

.Multiply
  position: absolute
  top: 14.375rem
  left: 20.625rem
.seo
  position: absolute
  top: 34.7rem
  left: 10.3rem
.process
  position: absolute
  margin-left: 37rem
  margin-top: -35rem
.curve
  position: absolute
  margin-left: 78rem
  margin-top: -39.5rem
.line
  position: absolute
  margin-left: 70rem
  margin-top: 7rem
  
